header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-weight: 600;
}

.menu-item {

  margin: 0 16px;

  &:hover {
    cursor: pointer;
  }
}
