<section class="hero">

  <div class="left">
    <div class="container">
      <h1 class="hero-title">Norwalk Karting Association</h1>
      <p class="hero-text">
        Founded in 1971, Norwalk Karting Association has been a long standing
        tradition in Norwalk, CT. We race on Saturdays in the spring and the
        fall, and have competitors ranging from 5 - 70. Many famous racecar
        drivers have gotten their start in motor racing at "the beach". These
        include Scott Sharp, Parker Kligerman, Todd Szegedy, Jerry Nadeau, Randy
        Lajoie, Ron Silk, Scott Heckert and others. Come find out what racing is
        all about in a fun, affordable, and family friendly atmosphere!
      </p>
    </div>
  </div>

  <div class="right">
    <!-- carousel goes here -->
    <p class="mock-image" style="color: white;">photo carousel</p>
  </div>
</section>
